header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  nav {
    grid-area: nav;
  }
  footer {
    grid-area: footer;
  }

  .container {
    display: grid; 
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }