.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.box:hover .r{
    height: 100px;
    width:100px;
    transition: all 4s ease-in-out;
   
    transform:  rotate(720deg);
    margin-left: 600px
}
.r{
    transition: all 4s ease-in-out;
}
.l{
    transition: all 4s ease-in-out;
}
.box:hover .l{
    height: 25px;
    width: 25px;
    transition: 4s;
    transform: rotate(-720deg);
    margin-right: 600px;
}

.a{
    background-color: blue;
    height: 50px;
    width: 50px;
    border: 2px solid black;}



.b{
    background-color: pink;
    height: 50px;
    width: 50px;
    border: 2px solid black;}
    /* animation: mover 4s ease-in-out infinite;
}

	@keyframes mover { 50% { transform: translateX(200px)};

} */
.c{
    background-color: red;
    height: 50px;
    width: 50px;
    border: 2px solid black
}
.d{
    background-color: orange;
    height: 50px;
    width: 50px;
    border: 2px solid black
}
.e{
    background-color: green;
    height: 50px;
    width: 50px;
    border: 2px solid black
}
.f{
    background-color:gray;
    height: 50px;
    width: 50px;
    border: 2px solid black

}
.g{
    background-color:limegreen;
    height: 50px;
    width: 50px;
    border: 2px solid black

}
.h{
    background-color:slateblue;
    height: 50px;
    width: 50px;
    border: 2px solid black
}
.j{
    background-color: purple;
    height: 50px;
    width: 50px;
    border: 2px solid black   
}
.k{
    background-color: seagreen;
    height: 50px;
    width: 50px;
    border: 2px solid black
}
.ll{
    background-color: salmon;
    height: 50px;
    width: 50px;
    border: 2px solid black
}
.m{
    background-color: aqua;
    height: 50px;
    width: 50px;
    border: 2px solid black
}