
.logo{
    height: 100px;

}
body{
    background-color: white;
    margin: 1.5em
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
  
}
nav a{
    border: 2px goldenrod inset;
    border-radius: 15%;
    padding: 5px;
    background-color: whitesmoke;
    color:#267
}
.name{
    font-size: 50%;
    
}
.about{
    margin: 2em;
    line-height: 1.5em;
}
h1{
  border-bottom: 2px inset #267
}
h2{
    border-bottom: 2px inset goldenrod
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.x {
  border-radius: 12px;
  border: 2px goldenrod inset;
}
.n{
  display: flex;
  }
.ni{
  margin: 15px
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    align-items: center;
}
nav a:hover{
  background-color: #557;
  color: white
}
.y{
  font-size: 6px;
  display: flex;
  align-items: center;
  justify-content: center
  
}
/* btn */
.container {
    width: auto;
    margin: 10%;
  }
  
  a {
    font-family: 'Germania One', cursive;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
  }
  
  @-webkit-keyframes top {
    from {
      -webkit-transform: translate(0rem, 0);
              transform: translate(0rem, 0);
    }
    to {
      -webkit-transform: translate(0rem, 3.5rem);
              transform: translate(0rem, 3.5rem);
    }
  }
  
  @keyframes top {
    from {
      -webkit-transform: translate(0rem, 0);
              transform: translate(0rem, 0);
    }
    to {
      -webkit-transform: translate(0rem, 3.5rem);
              transform: translate(0rem, 3.5rem);
    }
  }
  @-webkit-keyframes bottom {
    from {
      -webkit-transform: translate(-11.5rem, 0);
              transform: translate(-11.5rem, 0);
    }
    to {
      -webkit-transform: translate(0rem, 0);
              transform: translate(0rem, 0);
    }
  }
  @keyframes bottom {
    from {
      -webkit-transform: translate(-11.5rem, 0);
              transform: translate(-11.5rem, 0);
    }
    to {
      -webkit-transform: translate(0rem, 0);
              transform: translate(0rem, 0);
    }
  }
  .btn {
    position: relative;
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent; 
    outline: none;
    font-size: 28px;
    color: #111111;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  }
  .btn::after, .btn::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 10%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
    border-radius: 50%;
  }
  .btn::before {
    background-color: #c92918;
    top: -0.75rem;
    left: 0.5rem;
    -webkit-animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
            animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
  }
  .btn::after {
    background-color: #e74c3c;
    top: 3rem;
    left: 13rem;
    -webkit-animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
            animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
  }
  .btn:hover {
    color: white;
  }
  .btn:hover::before, .btn:hover::after {
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    -webkit-animation: none;
            animation: none;
  }
  .btn:hover::after {
  left: 0rem;
  }
  .btn:hover::before {
  top: 0.5rem;
  left: 0.35rem;
  }
  