/* @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css); */

nav{
    display: flex;
    justify-content: space-between; 
    /* margin: 5%; */
    background-color: black;
    padding: 5%
}
nav a{
    border: red 2px inset;
    color:white;
    background-color: black;
    font-size: 25px;
    /* margin: 5% */
    text-decoration: none;
    border-radius: 10%;
    padding: 10px;
    font-family: 'Germania One', cursive;
}
main{
    display:flex;
    flex-direction: column;
    border: black 2px solid;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    background-image: url(../src/img/JJM.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    }
h1{
    font-family: 'Germania One', cursive;
    display: flex;
    justify-content: center;
}

main a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #add;
    background-color: #242;
    border-radius: 30%;
    width: 100px;
    height: 100px;
    margin: 5%;
    font-size: 110%;
    text-decoration: none
}
.pic{
    border-radius: 50%;
    margin: auto;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    border:  2px forestgreen solid;
    margin-top: 5%
}
.vid{
display: flex;
align-items: center;
justify-content: center;
background-color: black
}
.vid1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px wheat solid;
    margin: 10%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #224;
    color: white;
}
.icon{
    color: orange;
    margin: 20px

    
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
  }
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin:  1% 0 1% 0;
  } */
  ._12 {
    font-size: 1.2em;
  }
  ._14 {
    font-size: 1.4em;
  }
  ul {
    display: flex;
    flex-direction: row;
    
    list-style: none;
  }
  .footer-social-icons {
    width: 350px;
    /* display:block; */
    margin: 5 auto;
  }
  .footer-social-icons {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  ul.social-icons {
    margin-top: 2px;
  }
  .social-icons li {
    /* vertical-align: top; */
    display: flex;
    flex-direction: row;
    height: 100px;
  }
  .social-icons a {
    color: #fff;
    text-decoration: none;
  }
  .fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  .fa-facebook:hover {
    background-color: #3d5b99;
  }
  .fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  .fa-twitter:hover {
    background-color: #00aced;
  }
  .fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  .fa-rss:hover {
    background-color: #eb8231;
  }
  .fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  .fa-youtube:hover {
    background-color: #e64a41;
  }
  .fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  .fa-linkedin:hover {
    background-color: #0073a4;
  }
  .fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

.ACA{
    height: 100px;
}
@media(min-width: 850px){
    main{
        background-image: url(https://images.unsplash.com/photo-1542339867-babe283a18ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1169&q=80);
        background-size: 100%;
    }

}